#body {
    background-color: darkred;
}
#cadastro {
    width: 100%;
    height: 90%;
    top: 25px;
    left: 0px;
    position: absolute;
}
#login {
    top: 550px;
    position: absolute;
    left: 460px;
}