body{
    padding: 0px;
    border: 0px;
    background-color: darkred;
}
#mario{
    width: 40%;
   height: 270px;
   top: 10px;
    position: absolute;
    left: 30px;

}

#star {
    width: 55%;
    height: 270px;
    left: 575px;
    top: 10px;
    position: absolute;
    
}

#m {
    width: 90%;
    height: 500px;
    left: 70px;
    top: 900px;
    position: absolute;
}

#texto {

    position: absolute;
    top: 300px ;
    text-align: center;
    color: whitesmoke;
    font-family: sans-serif;
}

